---
import '../styles/global.css';
import cv from '../cv.json';
---
<h1 class="font-bold pt-9 text-3xl">INFORMACIÓ</h1>

<h1 class="py-10">{cv.bio}</h1>
<button id="Boton" class="bg-black text-white w-50 h-10 rounded-3xl duration-300 ease-in-out hover:scale-110 hover:shadow-lg" onclick="window.location.href='LandingPage'"><p class="font-mono">← Retornar</p></button>
