---
import '../styles/global.css';
---

<nav class="flex justify-between w-[700px]">
    <a href="LandingPage" class="font-bold font-mono">ap</p>
    <div class="flex font-bold gap-4">
        <a href="Informacio" class="font-mono">Information</a>
        <a href="Escrits" class="font-mono">Writting</a>
        <a href="Contactes" class="font-mono">Contact</a>
    </div>
</nav>