---
import '../styles/global.css';
---

<div class="w-[700px]">
    <footer class="mt-10 text-[20px] font-mono pb-4">
        <div>
            <hr class="border-0.5 border-gray-300 w-[700px]"/>
            <div class="flex justify-between mt-8 mr-1 ml-1">
                <p class="font-bold text-[15px] text-gray-400">0 2010 - 2025 / Alejandro Beas</p>
                <a class="font-bold text-[15px] text-gray-400 underline" href="https://github.com/aale-hub">GitHub</a>
            </div>
        </div>
    </footer>
</div>